<h1> Body Snippets </h1>

<div class="language_bar">
  <div>
      <%= link_to "HTML", snippets_category_path('HTML') %> |
      <%= link_to "Ruby", snippets_category_path('Ruby') %> |
      <%= link_to "Javascript", snippets_category_path('Javascript') %> |
      <%= link_to "CSS", snippets_category_path('CSS') %>
  </div>
</div>
