<h1> Body Snippets </h1>

<div class="language_bar">
  <div>
      <%= link_to "HTML", snippets_path %> |
      <%= link_to "Ruby", snippets_path %> |
      <%= link_to "Javascript", snippets_path %> |
      <%= link_to "CSS", snippets_path %>
  </div>
</div>
